@import url("./fonts/font.css");
@import url("./icons/icons.css");
:root {
    --black: #05101b;
    --white: #fafafa;
    --primary: #63d859;
}

html {
    font-family: 'Mona Sans', sans-serif;
    background: var(--black);
    color: var(--white);
}