@import url("./fonts/font.css");
@import url("./icons/icons.css");
@import url("./prism/prism.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    background-color: #00d557;
    color: #05101b;
}

::selection {
    background-color: #00d557;
    color: #05101b;
}

html {
    font-family: 'Mona Sans', sans-serif;
}

.no-prose pre,
.no-prose code {
  padding: 0;
  margin: 0;
}