---
import DocsLayout from "../../layouts/docs.astro";
---

<DocsLayout>
    <h1 class="text-5xl text-primary font-bold">
        Doing bots never been easier.
    </h1>

    <h2 class="text-3xl font-medium mt-10">Titanite Overview</h2>
    <p>
        Here you can see the updated features that Titanite has and what
        features are going to be added on the near future or are accesible.
    </p>
</DocsLayout>
